<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAszkf5Q-5UMGn6wLbYxOFU-peenj455Do</string>
	<key>GCM_SENDER_ID</key>
	<string>1048254137318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bloodDonationApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>raktacare</string>
	<key>STORAGE_BUCKET</key>
	<string>raktacare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048254137318:ios:71b4a846ae2e707a9b0c27</string>
</dict>
</plist>